%backup%~
.backups/
.custom-vars
.lsp-session-v1
auto-save-list/
bookmarks
eshell/
projectile-bookmarks.eld
recentf
tramp
transient/
/literally.el
/elpa/
/#recentf#
/secrets/
/network-security.data
/nov-places
/url/
